/* ********** Custom Properties*************** */
:root {
  --first-color: rgb(255, 255, 255);
  --second-color: rgb(71, 209, 110);
  --third-color: linear-gradient(90deg, rgb(71, 209, 110), rgb(89, 235, 255));
  --bg-color: rgb(19, 20, 20);
  --bg-alpha-color: rgb(31, 31, 33);
  --border-color: rgb(61, 61, 61);
}
/* ********** Reset styles *************** */

body {
  font-family: "Poppins", sans-serif;
}

/* ********** Bootstrap Styles *************** */
.bg-body-tertiary {
  background-color: var(--bg-color) !important;
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}

.navbar-brand {
  color: var(--first-color);
}

.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.232);
}

.navbar-toggler {
  border: medium solid var(--border-color);
}

.nav-link,
.navbar-nav .nav-link.active {
  color: var(--first-color);
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.232);
}

.nav-link:focus {
  color: var(--third-color);
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand:focus{
  color: var(--first-color);
}
/* ********** my styles*************** */

#about {
  position: relative;
  padding: 6rem 0px;
}

.card {
  background-color: var(--bg-alpha-color);
  border: medium solid var(--border-color);
}

.card-style {
  margin-top: 6rem;
  background-color: var(--bg-alpha-color);
  border: medium solid var(--border-color);
  box-shadow: 2px 2px 2px 1px var(--second-color);
}

footer {
  background-color: var(--bg-color);
}

footer a {
  color: white;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.764);
}

.hab-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.home-section {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/sp.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.icon-gradient {
  background: var(--third-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mr-tp {
  margin-top: 6rem;
}

.text-gradient {
  background: var(--third-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second-color {
  color: var(--second-color);
}

.tech-section {
  display: flex;
  padding: 6rem 0;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
